.feedback-box-one {
    width: 40vw;  
    height: 40vh; 
    border: 2px solid black;
    overflow-y: auto;
}

.feedback {
    padding: 20px;
    text-align: center;
    color: #9C9DC3;
    overflow-y: auto;
}

.feedback-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1e293b;
    margin-bottom: 1rem;
}

.feedback-points {
    font-size: 1.125rem;
    color: #64748b;
    line-height: 1.6;
}

