.feedback-box-one {
    width: 80vw;  
    height: 90vh; 
    border: 2px solid black;
}

.feedback {
    padding: 20px;
    text-align: center;
    color: #9C9DC3;
}

.feedback-points {
    font-size: 24px;
    text-align: center;
}

.feedback-title {
    font-size: 32px;
}