.upload-form {
    margin-bottom: 1rem;
  }
  
  .upload-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .file-input {
    flex: 1;
  }
  
  .upload-button {
    padding: 2rem 2rem;
    background-color: #F8CBBB;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    margin: auto;
  }
  
  .upload-button:hover {
    background-color: #E7A89E;
  }